<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>自由生活-网站公告</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
   		<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
   		<link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}" />
   	</head>
   	<body>
	   	<div th:include="common/header :: header(user=${session.user_resource})"></div>
		<div class="container">
			<div class="col-lg-12 col-center-block">
				<p><h5>自由生活主题宣导</h5></p>
				<p>
					1.自由生活平台透过广大消费者的点评与消费体验分享，还原最真实的品牌企业，帮助更多的消费者解决消费盲区，找到品质、诚信的品牌企业。<br/>
					2.自由生活依托诚信信息系统，实时记录和呈现品牌企业和消费者诚信信息。<br/>
					3.诚信系统开放对外访问，全面提升信息的品质化、标准化、规范化，努力提高信息的可参考性。（虚假信息将会影响个人信誉）<br/>
					4.鼓励用户进行真实点评，每一条有价值的信息将方便世界所有的人。（只要您诚信于每一次点评，您将成为自由生活的主人；只要您认真于每一件商品的制造，您将拥有世界的消费者。）
				</p>
				<p><h5>自由生活-服务协议</h5></p>
				<p>
					欢迎使用自由生活，请您在点评与分享信息前，仔细阅读以下条款：<br/>
					1.自由生活是广大消费者进行点评、分享品牌消费体验感的平台。<br/>
					2.本协议最终解释权归属自由生活公司。自由生活有权对本协议条款进行修改，修改后的协议一旦公布即有效代替原来的协议。用户可随时查阅最新协议并受最新协议的约束。<br/>
				</p>
				<p><strong>一．自由生活用户</strong></p>
				<p>
					1.凡是自由生活的注册用户和浏览用户。针对用户提供的注册资料，用户同意并保证：<br/>
						1-1.提供合法、真实、准确、详尽的个人资料.<br/>
						1-2.如有变动，及时更新用户资料。<br/>
						1-3.自由生活用户名和昵称中不能含有任何侮辱、威胁、淫秽、谩骂等侵害他人合法权益的文字。<br/>
						1-4.若因输入的个人信息不真实而引发的一切问题、纠纷及所带来的后果，由用户个人独立承担。<br/>
				</p>
				<p><strong>二．用户权利和义务</strong></p>
				<p>
					1.用户享有言论自由的权利。<br/>
					2.用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》、《最高人民法院、最高人民检察院关于办理利用信息网络实施诽谤等刑事案件适用法律若干问题的解释》等相关法律规定，不得在自由生活平台发布、传播或以其它方式传送含有下列内容之一的信息：<br/>
						2-1.煽动抗拒、破坏宪法和法律、行政法规实施的；<br/>
						2-2.煽动颠覆国家政权，推翻社会主义制度的； <br/>
						2-3.煽动分裂国家、破坏国家统一的；  <br/>
						2-4.煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
						2-5.捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br/>
						2-6.宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br/>
						2-7.公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br/>
						2-8.损害国家机关信誉的；<br/>
						2-9.其他违反宪法和法律行政法规的；<br/>
						2-10.进行商业广告行为的。<br/>
					3.用户需保证点评的客观、真实性，不得利用自由生活用户的身份进行违反诚信的任何行为，包括但不限于：炒作商户，并向商户收取费用或获取利益；为获得利益或好处，参与或组织撰写及发布虚假点评；以差评威胁，要求商户提供额外的利益或好处等。
				</p>
				<p><strong>三．权利声明和免责声明</strong></p>
				<p>
					1.自由生活用户点评或分享内容仅代表评论发表者的个人观点，自由生活对点评信息的展示和发布并不表示自由生活赞同该评论的观点或证实其描述，自由生活最大程度保证评论内容的准确性、完整性、可靠性，因用户点评内容的真实性和准确性引发的全部责任，由用户自行承担，自由生活公司不承担任何责任。对于用户在自由生活平台互动过程中遇到侮辱、诽谤、淫秽、色情或亵渎事件，自由生活公司不承担法律责任。<br/>
					2.用户之间因使用自由生活而产生或可能产生的任何纠纷或损失，由用户自行解决并承担相应的责任，与自由生活公司无关。<br/>
					3.自由生活尊重并保护所有用户的个人隐私权，您注册的用户名、电子邮件地址、手机号码、身份证等其他个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，自由生活不会主动地透露给第三方。
				</p>
				<p><strong>四．处罚规则</strong></p>
				<p>
					1.凡虚假点评或虚假操作等，自由生活将会实行封号处理，并以信息的方式记录于诚信信息系统。<br/>
					2.因用户行为侵犯任何第三方主体的合法权益，用户自行承担因此产生的一切法律后果，与自由生活公司无关。
				</p>
			</div>
		</div>
		<div th:include="common/footer :: footer"></div>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/common.js}"></script>
	</body>
</html>