<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>自由生活</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
   		<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
   		<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
   		<link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
	</head>
	<body>
		<div th:include="common/header :: header(user=${session.user_resource})"></div>
		<div class="container">
			<div class="col-lg-5 col-center-block">
				<div class="alert alert-warning" th:if="${errorInfo ne null}" role="alert"><span th:text="${errorInfo}"></span></div>
				<form class="form-horizontal" role="form" method='post'>
					<legend>
						<span><img th:src="@{/images/login/log_logo.png}" alt="" title="" /></span>
						<span class="pull-right"><a href="/signup" style="color:#EEB241">*免费注册</a></span>
					</legend>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><img th:src="@{/images/login/log_user.png}" /></span>
							<input type="text" name="telephone" id="telephone" class="form-control input-lg" placeholder="用户账号" maxlength="11" required="required" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><img th:src="@{/images/login/log_pass.png}" /></span>
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="密码" required="required" />
						</div>
					</div>
					<div class="checkbox">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    	<label>
				      		<input type="checkbox" name="chk" id="chk" />记住密码
				      	</label>
				      	<span class="pull-right"><a href="">忘记密码？</a></span>
				   	</div>
				   	<p></p>
					<div>
						<input type='submit' id='submit' class='btn btn-primary input-lg btn-block' value='登录' />
					</div>
				</form>
			</div>
		</div>
		<div th:include="common/footer :: footer"></div>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/vendor/validation/jqBootstrapValidation.min.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/signin.js}"></script>
	</body>
</html>