<div th:fragment="footer">
		<footer class="container-fluid footer">
			<p class="text-center"><a href="/notice">网站公告</a>｜<a href="/about">关于我们</a></p>
			<p class="text-center">Copyright@copy2016 自由生活版权所有｜<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32020602000159" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{/images/bah_icon.png}" style="float:left;"/>苏公网安备 32020602000159号</a>
		 	｜<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">苏ICP备16023404号-1</a></p>
		</footer>
</div>