body {
	padding-top: 66px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 50px 60px 50px 60px;
    margin-top: 100px;
}

.footer {
	position: absolute; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
}
